.git
.idea
.vscode
__pycache__/
data
multi3out
weight
bert_config.json
pytorch_model.bin
vocab.txt
VideoFeatureExtractor
cache
results_change-state-action.json.json
run_change-state.sh
run_relations.sh
